body {
  /* Margin bottom by footer height */
  margin-bottom: 0px;
}

.navbar-container {
  margin-right: 20px;
  margin-left: 20px;
}

.carousel-container {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar-item {
  padding: 10px
}

.supplier-container {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f5f5f5;
}

.item {
  background: #fff;    
  text-align: center;
  height: 250px !important;
  padding: 15px;
}

.carousel-caption {
  right: 8%;
  top: 5px;
  bottom: 5px;
  left: 8%;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #333;
  text-shadow: none;
}

.carousel-control {
  width: 7%;
  font-size: 20px;
  color: #333;
}

.panel-body {
  min-height: 190px;
  max-height: 190px;
  overflow-y: scroll;
} 

.breadcrumb {
  background-color: transparent;
}

.footer {
  padding-top: 0px;
  color: #333;
}

.modal-body {
  max-height: 200px;
  overflow-y: auto;
}

#logo {
  width: 64px,
  height: 64px
}